<rlDialog>
	<div *rlDialogContent>
		<div class="row">
			<div class="col-xs-12">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="dismiss()">
					<span class="fa-stack">
						<i class="close-bg fa fa-circle fa-stack-2x"></i>
						<i class="close-icon fa fa-close fa-stack-1x"></i>
					</span>
				</button>
			</div>
		</div>

		{{message}}
	</div>
	<div *rlDialogFooter>
		<rlButton type="danger" (trigger)="cancel()"><i class="fa fa-times"></i> {{cancelButton}}</rlButton>
		<rlButton type="success" (trigger)="accept()"><i class="fa fa-check"></i> {{okButton}}</rlButton>
	</div>
</rlDialog>