<div class="field"
	[class.error]="!control.valid"
	(offClick)="closeTimes()">
	<label class="label-slide angular-animate" [hidden]="!(value && label)">{{label}}</label>
	<input type="text"
		   class="form-control angular-animate"
		   [value]="displayTime"
		   (click)="toggleTimes()"
		   [placeholder]="label"
		   [disabled]="disabled" />
	<span class="rl-time-period" (click)="togglePeriod()">{{period}}</span>
	<span class="rl-times" *ngIf="showTimes">
		<span class="rl-time-selected-hour" [hidden]="!hourSelected">{{hour}}</span>
		<ul class="rl-time-hours" [hidden]="hourSelected">
			<li class="rl-time-hour"
				*ngFor="let hour of allHours">
				{{hour}}
			</li>
		</ul>
		<span class="rl-time-selected-minute" [hidden]="!minuteSelected">{{minute}}</span>
		<ul class="rl-time-minutes" [hidden]="minuteSelected">
			<li class="rl-time-minute"
				*ngFor="let minute of allMinutes">
				{{minute}}
			</li>
		</ul>
	</span>
	<div [hidden]="control.valid" class="error-string">
		{{componentValidator.error}}
	</div>
</div>