<div class="field typeahead" ng-class="{ 'error': typeahead.ngModel.$invalid }">
	<label ng-show="typeahead.selection" class="label-slide angular-animate">
		{{::typeahead.label}}
	</label>
	<div ng-if="!typeahead.collapsed">
		<ui-select ng-model="typeahead.selection" theme="bootstrap" ng-disabled="typeahead.ngDisabled">
			<ui-select-match placeholder="{{::typeahead.placeholder}}">{{typeahead.getDisplayName($select.selected)}}</ui-select-match>
			<ui-select-choices repeat="item in typeahead.visibleItems"
								refresh="typeahead.refresh($select.search)"
								refresh-delay="typeahead.loadDelay">
				{{typeahead.getDisplayName(item)}}
			</ui-select-choices>
		</ui-select>
	</div>
	<div ng-if="typeahead.collapsed">
		<span>{{typeahead.getDisplayName(typeahead.selection)}}</span>
		<rl-button type="default flat" action="typeahead.clear()"><i class="fa fa-remove"></i></rl-button>
	</div>
	<span class="error-string angular-animate" ng-if="typeahead.inputValidator.error | isEmpty:false">{{typeahead.inputValidator.error}}</span>
	<rl-busy loading="typeahead.loading"></rl-busy>
</div>