<div class="field"
	[class.warning]="warning"
	[class.error]="componentValidator.error$ | async">
	<label [@slide]="labelState">{{label}}</label>
	<input type="text"
		   class="form-control"
		   [class.hide-placeholder]="hidePlaceholder"
		   [value]="value"
		   (input)="onChange($event.target.value)"
		   (focus)="showLabel()"
		   (blur)="hideLabelIfEmpty()"
		   [placeholder]="label"
		   [attr.maxlength]="maxlength"
		   [disabled]="disabled" />
	<div *ngIf="componentValidator.error$ | async" class="error-string">
		{{componentValidator.error$ | async}}
	</div>
</div>
