<div class="field"
	[class.error]="componentValidator.error$ | async">
	<label class="label-slide angular-animate" [hidden]="!(value && label)">{{label}}</label>
	<input type="text"
		   class="form-control angular-animate"
		   [value]="value"
		   (input)="onChange($event.target.value)"
		   [placeholder]="label"
		   [attr.maxlength]="maxlength"
		   [disabled]="disabled" />
	<div *ngIf="componentValidator.error$ | async" class="error-string">
		{{componentValidator.error$ | async}}
	</div>
</div>
