<div class="filter-group">
	<span>{{::filter.label}}</span>
	<div class="input-group-btn">
		<rl-date-time ng-model="filter.selectedValue" use-time="filter.includeTime" class="pull-left"></rl-date-time>
		<button type="button" class="btn btn-default pull-left" ng-disabled="filter.selectedValue | isEmpty" ng-click="filter.selectedValue = null"
		disabled="disabled">
			<i class="fa fa-times"></i>
		</button>
	</div>
</div>
<div class="filter-group">
	<div class="input-group-btn">
		<button>
		</button>
		<input type="number" />
		<button></button>
	</div>
</div>