# Don't commit the built files
/dist/
/source/**/*.js
/source/**/*.d.ts
/bootstrapper/**/*.js
/bootstrapper/**/*.d.ts
/bootstrapper/**/*.js.map
/tests/

# Node deps
/node_modules/

# Bower deps
/bower_components/

# Ignore git conflict / diff files
*.orig

# Typings files (resolved via typings)
/typings/index.d.ts
/typings/globals/
/typings/modules/

debug.log
