# Ignore built files
/dist/
/bootstrapper/app.bundle.js
/bootstrapper/app.bundle.js.map
# Node deps
/node_modules/

# Bower deps
/bower_components/

# Don't commit the built files
/source/**/*.js
/source/**/*.d.ts

# Ignore git conflict / diff files
*.orig

# Typings files (resolved via typings)
/typings/index.d.ts
/typings/globals/
/typings/modules/
