# Ignore test files
source/**/*.tests.js
*.tests.d.ts
karma*
/tests/

# Bundles
/bootstrapper/*.bundle*

# NPM
/node_modules/
npm-debug.log

# Ignore webpack settings
webpack.*

# Git
*.orig

# Nuget bootstrap files
/bootstrapper/nuget/*/

# Don't need external typings on npm
/typings/
