<html>
	<body>
		<!-- Breakpoint calculators -->
		<div class="device-xs visible-xs"></div>
		<div class="device-sm visible-sm"></div>
		<div class="device-md visible-md"></div>
		<div class="device-lg visible-lg"></div>

		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<script src="/node_modules/jquery/dist/jquery.js"></script>
		<script src="/node_modules/angular/angular.js"></script>
		<script src="/node_modules/lodash/index.js"></script>
		<script src="/node_modules/moment/moment.js"></script>
		<script src="/node_modules/typescript-angular-utilities/output/utilities.js"></script>
		<script src="/output/components.js"></script>
		<script src="/bootstrapper.js"></script>

		<div ng-app="app">
			<div ng-controller="TestController as test">
				Selection: {{test.selection}}
				<rl-select ng-model="test.selection" options="test.options" option-as="item"
						   selector="'name'" label="Test selector" null-option="None"></rl-select>
				<rl-tabset>
					<rl-tab>
						<rl-tab-header>Header</rl-tab-header>
						<rl-tab-content>
							<rl-validation-group validator="test.validator">
								<rl-textbox ng-model="test.text"></rl-textbox>
							</rl-validation-group>
						</rl-tab-content>
						<rl-tab-footer>Footer</rl-tab-footer>
					</rl-tab>
					<rl-tab>
						<rl-tab-header>Header 2</rl-tab-header>
						<rl-tab-content>Content 2</rl-tab-content>
						<rl-tab-footer>Footer 2</rl-tab-footer>
					</rl-tab>
				</rl-tabset>
				<rl-spinner ng-model="test.number"></rl-spinner>
				<rl-date-time ng-model="test.date"></rl-date-time>
				<div rl-alias="test.number as val">{{val}}</div>
				<rl-select-filter filter="test.filter" options="test.filterOptions" label="Test filter" selector="'display'" null-option="Any"></rl-select-filter>
				{{test.filter.selectedValue}}
			</div>
		</div>
	</body>
</html>
