<html>
	<body>
		<!-- Breakpoint calculators -->
		<div class="device-xs visible-xs"></div>
		<div class="device-sm visible-sm"></div>
		<div class="device-md visible-md"></div>
		<div class="device-lg visible-lg"></div>

		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<script src="/node_modules/jquery/dist/jquery.js"></script>
		<script src="/node_modules/angular/angular.js"></script>
		<script src="/node_modules/lodash/index.js"></script>
		<script src="/node_modules/moment/moment.js"></script>
		<script src="/bower_components/typescript-angular-utilities/utilities.js"></script>
		<script src="/output/components.js"></script>
		<script src="/bootstrapper.js"></script>

		<div ng-app="app">
			<div ng-controller="TestController as test">
				<rl-rich-text-editor ng-model="test.text"></rl-rich-text-editor>
				<rl-spinner ng-model="test.number"></rl-spinner>
			</div>
		</div>
	</body>
</html>
