<div class="field typeahead"
	 [class.error]="!control.valid"
	 (offClick)="list.close()">
	<label class="label-slide angular-animate" [hidden]="hideFlowerup">{{label}}</label>
	<div [hidden]="collapsed">
		<input class="form-control rl-select-trigger"
			   type="text"
			   (click)="list.toggle()"
			   [disabled]="disabled"
			   [class.rl-select-open]="showOptions"
			   [placeholder]="placeholder"
			   [value]="search"
			   (keyup.arrowdown)="showOptions && list.focusNext()"
			   (keyup.arrowUp)="showOptions && list.focusPrevious()"
			   (keyup.enter)="showOptions && list.selectCurrent()"
			   (blur)="showOptions && list.selectCurrent()"
			   (input)="searchStream.next($event.target.value)" />
		<rlPopoutList #list
					  [hidden]="!showOptions"
					  [options]="visibleItems"
					  [template]="template"
					  [transform]="transform"
					  (select)="selectItem($event)">
			<rlPopoutItem class="rl-select-option-custom" *ngIf="allowCustomOption" (trigger)="selectCustom()">{{search}}</rlPopoutItem>
		</rlPopoutList>
	</div>
	<div class="collapsed" [hidden]="!collapsed">
		<span>{{getDisplayName(value)}}</span>
		<rlButton type="default flat" (trigger)="clear()">
			<i class="fa fa-remove"></i>
		</rlButton>
	</div>
	<rlBusy></rlBusy>
	<div [hidden]="control.valid" class="error-string">
		{{componentValidator.error}}
	</div>
</div>