<div class="field typeahead"
	 [class.error]="componentValidator.error$ | async">
	<label [@slide]="labelState">{{label}}</label>
	<div [hidden]="collapsed">
		<input class="form-control rl-select-trigger"
			   type="text"
			   [disabled]="disabled"
			   [class.rl-select-open]="list.showOptions"
			   [class.hide-placeholder]="hidePlaceholder"
			   [placeholder]="placeholder"
			   [value]="search"
			   (focus)="showLabel()"
			   (blur)="hideLabelIfEmpty()"
			   rlPopoutTrigger
			   (input)="searchStream.next($event.target.value)" />
		<rlPopoutList [disabled]="!canShowOptions"
					  [options]="visibleItems"
					  [template]="template"
					  [transform]="transform"
					  (select)="selectItem($event)">
			<rlPopoutItem class="rl-select-option-custom" *ngIf="allowCustomOption" (trigger)="selectCustom()">{{search}}</rlPopoutItem>
		</rlPopoutList>
	</div>
	<div class="collapsed" [hidden]="!collapsed">
		<span>{{getDisplayName(value)}}</span>
		<rlButton type="default flat" (trigger)="clear()">
			<i class="fa fa-remove"></i>
		</rlButton>
	</div>
	<rlBusy></rlBusy>
	<div *ngIf="componentValidator.error$ | async" class="error-string">
		{{componentValidator.error$ | async}}
	</div>
</div>
