<div class="field"
	 [class.error]="!control.valid"
	 (offClick)="list.close()">
	<label class="label-slide angular-animate" [hidden]="!(value && label)">{{label}}</label>
	<div class="form-control rl-select-trigger"
		 (click)="list.toggle()"
		 [class.disabled]="disabled"
		 [class.rl-select-open]="list.showOptions">
		<span class="placeholder" [hidden]="value">{{label}}</span>
		<span class="rl-select-choice">{{getDisplayName(value)}}</span>
	</div>
	<rlPopoutList #list
				  [options]="wrappedOptions"
				  [template]="template"
				  [transform]="transform"
				  (select)="select($event)">
		<li class="rl-select-option rl-select-option-null" *ngIf="nullOption" (click)="select(null)">{{nullOption}}</li>
	</rlPopoutList>
	<rlBusy></rlBusy>
	<div [hidden]="control.valid" class="error-string">
		{{componentValidator.error}}
	</div>
</div>