<div class="field"
	 [class.error]="!control.valid">
	<label class="label-slide angular-animate" [hidden]="!(value && label)">{{label}}</label>
	<div class="form-control rl-select-trigger"
		 [class.disabled]="disabled"
		 [class.rl-select-open]="list.showOptions"
		 tabindex="0"
		 rlPopoutTrigger>
		<span class="placeholder" [hidden]="value">{{label}}</span>
		<span class="rl-select-choice">{{getDisplayName(value)}}</span>
	</div>
	<rlPopoutList #list
				  [options]="wrappedOptions"
				  [template]="template"
				  [transform]="transform"
				  (select)="select($event)">
		<rlPopoutItem class="rl-select-option-null" *ngIf="nullOption" (trigger)="select(null)">{{nullOption}}</rlPopoutItem>
	</rlPopoutList>
	<rlBusy></rlBusy>
	<div [hidden]="control.valid" class="error-string">
		{{componentValidator.error}}
	</div>
</div>