.rl-tab-content .rl-tab-pane { display: none }
.rl-tab-content .rl-tab-pane.active { display: block }

.rl-tabset li.error > a::before {
    font-family: "FontAwesome";
    content: '\f071';
    color: #d50000;
}