<rl-generic-container selector="spinner.ngDisabled" class="spinner-container">
	<template default>
		<div class="field" ng-class="{ 'error': spinner.ngModel.$invalid }">
			<input name="{{::spinner.name}}" class="spinner" id="{{::spinner.spinnerId}}" type="text" />
			<span class="error-string" ng-if="spinner.inputValidator.error | isEmpty:false">{{spinner.inputValidator.error}}</span>
		</div>
	</template>
	<template when-selector="true">
		<div class="input-group field" ng-if="::spinner.prefix != null && spinner.postfix != null">
			<span class="input-group-addon">{{::spinner.prefix}}</span>
			<input disabled="true" type="text" ng-model="spinner.ngModel.$viewValue" class="form-control" />
			<span class="input-group-addon">{{::spinner.postfix}}</span>
		</div>
		<div class="input-group field" ng-if="::spinner.prefix != null && spinner.postfix == null">
			<span class="input-group-addon">{{::spinner.prefix}}</span>
			<input disabled="true" type="text" ng-model="spinner.ngModel.$viewValue" class="form-control" />
		</div>
		<div class="input-group field" ng-if="::spinner.prefix == null && spinner.postfix != null">
			<input disabled="true" type="text" ng-model="spinner.ngModel.$viewValue" class="form-control" />
			<span class="input-group-addon">{{::spinner.postfix}}</span>
		</div>
		<div class="input-group field" ng-if="::spinner.prefix == null && spinner.postfix == null">
			<input disabled="true" type="text" ng-model="spinner.ngModel.$viewValue" class="form-control" />
		</div>
	</template>
</rl-generic-container>