<rl-generic-container selector="ngDisabled">
	<template default>
		<div class="validation-input-group">
			<div class="validation-input">
				<input name="{{name}}" class="spinner" id="{{spinnerId}}" type="text" />
			</div>
			<i class="fa fa-exclamation-triangle text-danger"></i>
		</div>
	</template>
	<template when-selector="true">
		<div class="input-group" ng-show="prefix != null && postfix != null">
			<span class="input-group-addon">{{prefix}}</span>
			<input ng-disabled="ngDisabled" type="text" ng-model="ngModel" class="form-control" />
			<span class="input-group-addon">{{postfix}}</span>
		</div>
		<div class="input-group" ng-show="prefix != null && postfix == null">
			<span class="input-group-addon">{{prefix}}</span>
			<input ng-disabled="ngDisabled" type="text" ng-model="ngModel" class="form-control" />
		</div>
		<div class="input-group" ng-show="prefix == null && postfix != null">
			<input ng-disabled="ngDisabled" type="text" ng-model="ngModel" class="form-control" />
			<span class="input-group-addon">{{postfix}}</span>
		</div>
		<div ng-show="prefix == null && postfix == null">
			<input ng-disabled="ngDisabled" type="text" ng-model="ngModel" class="form-control" />
		</div>
	</template>
</rl-generic-container>