<div class="long-click-button">
	<button id="actionButton" class="btn btn-{{button.buttonClass}}" ng-mousedown="button.startAction()" ng-mouseleave="button.stopAction()" ng-mouseup="button.stopAction()">
		<rl-busy loading="button.spinner" ng-if="button.rightAligned"></rl-busy>
		<i ng-show="button.icon != null" class="fa fa-{{button.icon}}"></i> {{button.buttonText}}
		<rl-busy loading="button.spinner" ng-if="!button.rightAligned"></rl-busy>
	</button>
	<rl-rating-bar ng-if="button.active" width="button.width" height="5" min="0" max="button.duration"
				value="button.actionProgress" background="transparent"></rl-rating-bar>
</div>