<button id="actionButton" class="btn btn-long-click {{button.types}} {{button.configuredSize}}"
		ng-mousedown="button.startAction()" ng-mouseleave="button.stopAction()" ng-mouseup="button.stopAction()"
		ng-disabled="button.busy || button.ngDisabled">
	<rl-busy loading="button.busy" ng-if="button.rightAligned"></rl-busy>
	<span ng-transclude class="long-click-text">
		<i ng-show="button.icon != null" class="fa fa-{{button.icon}}"></i> {{button.buttonText}}
	</span>
	<rl-busy loading="button.busy" ng-if="!button.rightAligned"></rl-busy>
	<div class="long-click-progress"></div>
</button>