<nav ng-if="pager.hasPageFilter">
	<ul class="pagination">
		<li title="Go to first page" ng-click="pager.first()"
			ng-class="{ 'disabled': !pager.canGoBack }">
			<a><i class="fa fa-angle-double-left"></i></a>
		</li>
		<li title="Go to previous page" ng-click="pager.previous()"
			ng-class="{ 'disabled': !pager.canGoBack }">
			<a><i class="fa fa-angle-left"></i></a>
		</li>
		<li title="Go to page {{page}}" ng-click="pager.goto(page)"
			ng-repeat="page in pager.pages"
			ng-class="{ 'active': pager.currentPage == page }">
			<a>{{page}}</a>
		</li>
		<li title="Go to next page" ng-click="pager.next()"
			ng-class="{ 'disabled': !pager.canGoForward }">
			<a><i class="fa fa-angle-right"></i></a>
		</li>
		<li title="Go to last page" ng-click="pager.last()"
			ng-class="{ 'disabled': !pager.canGoForward }">
			<a><i class="fa fa-angle-double-right"></i></a>
		</li>
	</ul>
</nav>
