<div class="card col-xs-12 {{cardType}} {{alternatingClass}}">
	<div class="header row"
		 [class.active]="canOpen && !alwaysOpen"
		 (click)="toggle()">
		 <template [ngTemplateOutlet]="header?.template"></template>
	</div>
	<div [hidden]="!(showContent || alwaysOpen)">
		<div class="body row">
			<template [ngTemplateOutlet]="content?.template"></template>
			<div class="clearfix"></div>
		</div>
		<div class="footer row">
			<template [ngTemplateOutlet]="footer?.template"></template>
			<div class="clearfix"></div>
		</div>
	</div>
</div>