<div class="card col-xs-12">
	<div class="header row" ng-class="{ 'active': card.canOpen && !card.alwaysOpen, 'error': cardForm.$invalid }" ng-click="card.toggleContent()">
		<div ng-transclude="headerSlot"></div>
		<div class="clearfix"></div>
	</div>

	<ng-form name="cardForm" rl-autosave="card.autosaveLink" save="card.save()" save-when-invalid="card.saveWhenInvalid">
		<div ng-if="card.showContent || card.alwaysOpen">
			<div class="body row">
				<div ng-transclude="contentSlot"></div>
				<div class="clearfix"></div>
			</div>
			<div class="footer row">
				<div ng-transclude="footerSlot"></div>
				<div class="clearfix"></div>
			</div>
		</div>
	</ng-form>
</div>