<div class="field"
	[class.error]="componentValidator.error$ | async">
	<label [@slide]="labelState">{{label}}</label>
	<textarea type="text"
			  class="form-control"
			  [class.hide-placeholder]="hidePlaceholder"
			  [value]="value"
			  (input)="onChange($event.target.value)"
			  (focus)="showLabel()"
			  (blur)="hideLabelIfEmpty()"
			  [placeholder]="label"
			  [attr.maxlength]="maxlength"
			  [attr.rows]="rows"
			  [disabled]="disabled"></textarea>
	<div *ngIf="componentValidator.error$ | async" class="error-string">
		{{componentValidator.error$ | async}}
	</div>
</div>
