<div class="rl-page-size-select align-horizontal">
	Show
	<rl-button class="rl-page-size-option" ng-class="{ 'rl-page-size-option-selected': log.messageLog.pageSize == size }" type="flat" ng-repeat="size in log.pageSizes" action="log.setPageSize(size)">
		{{size}}
	</rl-button>
</div>

<div>
	<rl-busy loading="log.loadingInitial" size="2x"></rl-busy>
	<div class="content-group" ng-repeat="entry in log.messages" rl-alias="entry as {{log.messageAs}}" ng-class="{ 'system-note': entry.isSystemNote }">
		<rl-generic-container selector="log.getEntrySelector(entry)" templates="log.templates">
			<template default>
				<div class="message-body">
					<div class="message-content">
						<div ng-bind-html="entry.message"></div>
					</div>
					<span class="message-button" ng-if="log.canEditEntry(entry)">
						<rl-button-async type="message-default flat" action="log.editMessage(entry)" size="xs"><i class="fa fa-edit"></i></rl-button-async>
					</span>
					<span class="message-button" ng-if="log.canDeleteEntry(entry)">
						<rl-button-async type="message-danger flat" action="log.messageLog.deleteMessage(entry)" size="xs"><i class="fa fa-remove"></i></rl-button-async>
					</span>
				</div>
				<div class="message-byline">
					<div class="byline">{{entry.createdBy.name}}</div>
					<div class="byline">
						{{ entry.createdDate | rlDate:true }}
						<span  ng-if="entry.edited" class="edited-note" rl-popover="log.tooltipTemplate" popover-trigger="mouseenter">(edited)</span></div>
				</div>
			</template>
		</rl-generic-container>
	</div>
	<div class="alert alert-info" ng-if="(log.messages | isEmpty) && !log.loadingInitial">No existing messages</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="text-center">
				<rl-button-async action="log.getTop()" ng-disabled="log.loading" button-right-aligned="true">
					<span ng-show="log.hasPreviousPage">Top <i class="fa fa-caret-up"></i></span>
					<span ng-hide="log.hasPreviousPage"><i class="fa fa-refresh"></i> Refresh</span>
				</rl-button-async>
				<rl-button-async ng-disabled="log.hasNextPage == false || log.loading" action="log.getOlder()">
					Older <i class="fa fa-caret-right"></i>
				</rl-button-async>
			</div>
		</div>
	</div>
</div>
