<div>
	<rl-busy loading="log.loadingInitial" size="2x"></rl-busy>
	<div class="content-group" ng-repeat="entry in log.messages" rl-alias="entry as {{log.messageAs}}">
		<rl-generic-container selector="log.getEntrySelector(entry)" templates="log.templates">
			<template default>
				<div class="message-body">
					<div class="message-content">
						<div ng-bind-html="entry.message"></div>
					</div>
					<span class="message-delete" ng-if="log.canDeleteEntry(entry)">
						<rl-button-async type="danger" action="log.messageLog.deleteMessage(entry)" size="xs"><i class="fa fa-remove"></i></rl-button-async>
					</span>
				</div>
				<div class="message-byline">
					<div class="byline">{{entry.createdBy.name}}</div>
					<div class="byline">{{entry.createdDate | date:'short'}} UTC</div>
				</div>
			</template>
		</rl-generic-container>
	</div>
	<div class="content-group" ng-if="(log.messages | isEmpty) && !log.loadingInitial">No existing messages</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="text-center">
				<rl-button-async type="default" action="log.getTop()" ng-disabled="log.loading" button-right-aligned="true">
					<span ng-show="log.hasPreviousPage">Top</span>
					<span ng-hide="log.hasPreviousPage">Refresh</span>
				</rl-button-async>
				<rl-button-async type="default" ng-disabled="log.hasNextPage == false || log.loading" action="log.getOlder()">
					Older <i class="fa fa-chevron-right"></i>
				</rl-button-async>
			</div>
		</div>
	</div>
</div>
