<div class="card"
	 [class.selected]="item?.viewData?.selected">
	<div class="header"
		 (click)="toggleContent()"
		 [class.active]="cardContainer.cardContent || !permanentFooter">
		<div class="row">
			<div *ngFor="let column of cardContainer.columns">
				<rlCardHeaderColumn [column]="column"
									[item]="item"
									[columnTemplate]="getColumnTemplate(column.name)"></rlCardHeaderColumn>
			</div>
		</div>
	</div>

	<div [hidden]="!(showContent$ | async)">
		<div class="body"
			 *ngIf="cardContainer.cardContent"
			 [class.active]="cardContainer.clickableCards"
			 (click)="clickCard()">
			<template [ngTemplateOutlet]="cardContainer.cardContent.template" [ngOutletContext]="{ $implicit: item }"></template>
			<div class="clearfix"></div>
		</div>
	</div>
	<div [hidden]="!cardContainer.cardFooter || !((showContent$ | async) || permanentFooter)">
		<div class="footer" *ngIf="cardContainer.cardFooter">
			<template [ngTemplateOutlet]="cardContainer.cardFooter.template" [ngOutletContext]="{ $implicit: item }"></template>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
