<div class="validation-input-group">
	<div class="field validation-input" ng-class="{ 'error': textarea.ngModel.$invalid }">
		<label ng-show="textarea.text" class="show-hide angular-animate">{{textarea.label}}</label>
		<textarea class="form-control" ng-model="textarea.text" name="{{textarea.name}}" rows="{{textarea.rows}}" ng-disabled="textarea.ngDisabled" placeholder="{{textarea.label}}"></textarea>
        <span class="error" ng-hide="textArea.textArea.error | isEmpty">{{textarea.textareaValidator.error}}</span>
        <i class="fa fa-asterisk text-danger" ng-show="textarea.ngModel.$error.required"></i>
	</div>
</div>