<div class="field date-time"
	 [class.has-warning]="!validFormat"
	 [class.error]="componentValidator.error$ | async"
	 [class.datepicker-with-clear]="showClear">
	<span #datepicker class="datepicker-input-group">
		<label [@slide]="labelState">{{label}}</label>
		<input type="text"
			   #dateinput
			   class="form-control"
			   (focus)="showLabel()"
			   (blur)="hideLabelIfEmpty()"
			   [value]="valueAsString"
			   [placeholder]="label"
			   [disabled]="disabled" />
		<span class="input-group-btn">
			<rlButton [disabled]="disabled"><i class="fa fa-calendar"></i></rlButton>
		</span>
		<span class="timezone" *ngIf="useDate">{{timezone?.display}}</span>
	</span>
	<span class="datepicker-clear" *ngIf="showClear">
		<rlButton [disabled]="value | isEmpty"
				  (trigger)="onClear()">
			<i class="fa fa-times"></i>
		</rlButton>
	</span>
	<div *ngIf="componentValidator.error$ | async" class="error-string">
		{{componentValidator.error$ | async}}
	</div>
</div>
