<div [ngSwitch]="disableSearching">
	<div *ngSwitchCase="true">
		<rlSelect *ngIf="cachedItems$"
				  (change)="add($event)"
				  [transform]="transform"
				  [options]="cachedItems$"
				  [label]="label"
				  [disabled]="disabled"></rlSelect>
	</div>
	<div *ngSwitchDefault>
		<rlTypeahead (selector)="add($event)"
					 [allowCollapse]="false"
					 [transform]="transform"
					 [getItems]="searchItems"
					 [label]="label"
					 [prefix]="prefix"
					 [disabled]="disabled"></rlTypeahead>
	</div>
</div>
<div class="table-container">
	<div class="row table-header" [hidden]="!(value && value.length)">
		<div *ngIf="listHeader" [ngTemplateOutlet]="listHeader.template"></div>
		<div *ngIf="!listHeader">
			<div class="col-xs-12">Name</div>
		</div>
	</div>
	<div class="row table-row" *ngFor="let item of value">
		<div [rlTypeaheadDataItem]="item" #data>
			<div class="col-xs-8 form-control-static">{{getDisplayName(item)}}</div>
			<div class="col-xs-4 text-right" [hidden]="value.length <= minRequired">
				<rlButtonAsync [action]="data.remove"
							type="danger"
							style="margin-top: 4px">
					<i class="fa fa-remove">
						<span *ngIf="removalButtonText != ''" class="btn-hide-text">
							{{removalButtonText}}
						</span>
					</i>
				</rlButtonAsync>
			</div>
			<div class="col-xs-4 text-right form-control-static" *ngIf="value.length <= minRequired">
				<label>required</label>
			</div>
		</div>
	</div>
</div>