<rl-generic-container selector="list.disableSearching">
	<template when-selector="true">
		<rl-select ng-if="list.cachedItems | isEmpty:false" ng-model="list.model" select="list.addItem(item)" transform="list.transform"
				   options="list.cachedItems" label="{{list.label}}" ng-disabled="list.ngDisabled"></rl-select>
	</template>
	<template default>
		<rl-typeahead ng-model="list.model" select="list.addItem(value)" allow-collapse="false"
					  transform="list.transform" get-items="list.searchItems(search)" label="{{list.label}}"
					  prefix="{{list.prefix}}" ng-disabled="list.ngDisabled"></rl-typeahead>
	</template>
</rl-generic-container>
<div class="table-container">
	<div class="row table-header" ng-show="list.ngModel.$viewValue | isEmpty:false">
		<div ng-transclude="headerSlot">
			<div class="col-xs-12">Name</div>
		</div>
	</div>
	<div class="row table-row" ng-repeat="$item in list.ngModel.$viewValue" rl-alias="$item as {{list.itemAs}}">
		<rl-typeahead-list-item transclude="list.$transclude"></rl-typeahead-list-item>
	</div>
</div>