<div class="row">
	<div class="col-xs-12">
		<div class="card-container">
			<div>
				<div class="card-container-header">
					<rlContainerHeader [header]="containerHeader"></rlContainerHeader>
				</div>

				<div class="card-columns-header">
					<div *ngFor="let column of columns">
						<rlColumnHeader [column]="column"
										[headerTemplate]="getColumnTemplate(column.name)"
										[sorting]="column.sortDirection"
										(sort)="sort(column)"></rlColumnHeader>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="alert alert-info" *ngIf="dataSource.needsRefinedSearch$ | async">
					Please refine your search results
				</div>
				<div class="alert alert-info" *ngIf="dataSource.isEmpty$ | async">
					There are no items to show
				</div>

				<div *ngIf="hasItems$ | async">
					<div class="card-item-repeat" *ngFor="let card of dataSource.dataSet$ | async">
						<rlCard [item]="card"
								[save]="save"></rlCard>
					</div>
				</div>

				<div>
					<rlBusy [loading]="dataSource.loadingDataSet$ | async" size="2x"></rlBusy>
				</div>

				<div class="card-container-footer" *ngIf="!(dataSource.isEmpty$ | async)">
					<rlContainerFooter [footer]="containerFooter"></rlContainerFooter>
				</div>
			</div>
		</div>
	</div>
</div>
