<div class="validation-input-group">
	<div class="field validation-input" ng-class="{ 'error': textbox.ngModel.$invalid, 'required-error': textbox.ngModel.$error.required }">
		<label ng-show="textbox.text && textbox.label" class="show-hide angular-animate">{{textbox.label}}</label>
		<input  type="text" class="form-control angular-animate" ng-model="textbox.text" placeholder="{{textbox.label}}" maxlength="{{textbox.maxlength}}" />
        <span class="error-string" ng-hide="textbox.textboxValidator.error | isEmpty">{{textbox.textboxValidator.error}}</span>
	</div>
</div>