<div class="validation-input-group">
	<div class="field validation-input" ng-class="{ 'error': textbox.ngModel.$invalid }">
		<label ng-show="textbox.text" class="show-hide angular-animate">{{textbox.label}}</label>
		<input  type="text" class="form-control angular-animate" ng-model="textbox.text" placeholder="{{textbox.label}}"/>
        <span class="error" ng-hide="textbox.textboxValidator.error | isEmpty">{{textbox.textboxValidator.error}}</span>
        <i class="fa fa-asterisk text-danger" ng-show="textbox.ngModel.$error.required"></i>
	</div>
</div>