/* rl-select */

.rl-select-trigger { cursor: pointer; }

.rl-select-trigger:after {
    font-family: FontAwesome;
    content: '\f0d7'; /* fa-caret-down */
    position: absolute;
    right: 1em;
}

.rl-select-list {
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    padding: .5em 0;
    z-index: 10;
    max-height: 15.25em;
    overflow-y: scroll;
}
.rl-select-list .rl-select-option:first-child { margin-top: 0; }
.rl-select-list .rl-select-option:last-child { margin-bottom: 0; }

.rl-select-option {
    list-style: none;
    padding: .5em .5em;
    margin: .5em 0;
}

.rl-select-option:hover {
	cursor: pointer;
	background-color: #d8f1ff;
}

.rl-select-trigger.disabled {
    background-color: #eeeeee;
    cursor: not-allowed;
    pointer-events: none;
}