<rl-typeahead ng-model="list.model" select="list.addItem(value)" allow-collapse="false"
			  transform="list.transform" get-items="list.loadItems(search)" label="{{list.label}}"
			  prefix="{{list.prefix}}" use-client-searching="list.useClientSearching" ng-disabled="list.ngDisabled"></rl-typeahead>
<div class="table-container">
	<div class="row table-header">
		<div ng-transclude="headerSlot"></div>
		<div class="default-header-template"></div>
	</div>
	<div class="row table-row" ng-repeat="$item in list.ngModel.$viewValue" rl-alias="$item as {{list.itemAs}}">
		<div ng-transclude="listItemSlot"></div>
	</div>
</div>