<rl-typeahead ng-model="list.model" select="list.addItem(value)" allow-collapse="false" child-link="list.typeaheadLink"
			  transform="list.transform" get-items="list.loadItems(search)" label="{{list.label}}"
			  prefix="{{list.prefix}}" use-client-searching="list.useClientSearching" ng-disabled="list.ngDisabled"></rl-typeahead>
<div class="table-container col-xs-12">
	<div class="row table-header" ng-show="list.ngModel.$viewValue | isEmpty:false">
		<div ng-transclude="headerSlot">
			<div class="col-xs-12">Name</div>
		</div>
	</div>
	<div class="row table-row" ng-repeat="$item in list.ngModel.$viewValue" rl-alias="$item as {{list.itemAs}}">
		<rl-typeahead-list-item transclude="list.$transclude"></rl-typeahead-list-item>
	</div>
</div>