<div class="filter-group" [ngClass]="{'filter-disabled': disabled}">
	<div class="row filter-header" (click)="toggleExpanded()">
		<div class="col-sm-12">
			<i class="collapse-icon fa fa-caret-down fa-2x" [hidden]="!childrenVisible" title="Hide filter list"></i>
			<i class="collapse-icon fa fa-caret-right fa-2x" [hidden]="childrenVisible" title="Show filter list"></i>
			<div class="filter-option">
				<div style="display: inline-block" [hidden]="!icon" [innerHTML]="icon"></div>
				<h4 style="display: inline-block">{{headerTitle}}</h4>
			</div>
		</div>
	</div>
	<div [hidden]="!childrenVisible" *ngFor="let filterOption of filterGroup?.options">
		<rlFilterOption [option]="filterOption"
						[isActive]="filterGroup.activeOption === filterOption"
						(activate)="selectOption(filterOption)"></rlFilterOption>
	</div>
</div>
