<div class="filter-group">
	<div class="row filter-header" ng-click="controller.toggleChildren()">
		<div class="col-sm-12">
			<i class="collapse-icon fa fa-caret-down fa-2x" ng-show="controller.showChildren" title="Hide filter list"></i>
			<i class="collapse-icon fa fa-caret-right fa-2x" ng-hide="controller.showChildren" title="Show filter list"></i>
			<div class="filter-option">
				<div style="display:inline-block" ng-show="controller.hasIcon" ng-bind-html="controller.icon"></div>
				<h4 style="display: inline-block">{{controller.filterGroup.label}}: {{controller.filterGroup.activeOption.label}}</h4>
			</div>
		</div>
	</div>
	<div ng-show="controller.showChildren" ng-repeat="filterOption in controller.filterGroup.options">
		<rl-filter-option option="filterOption" active="filterGroup.activeOption === filterOption" activate="controller.selectOption(filterOption)"></rl-filter-option>
	</div>
</div>
