<div class="multi-step"
	[class.numbered]="numbered"
	[class.checked]="checked">
	<ol>
		<li *ngFor="let step of steps" (click)="onClick(step)"
			[class.completed]="step.getCompleted()"
			[class.current]="step.isCurrent"
			[class.active]="step.isActive && !anyLoading()">
			<div class="wrap">
				<p class="badge" *ngIf="step.count">{{step.count()}}</p>
				<p class="error" *ngIf="!step.getValid()"></p>
				<p class="title">{{step.title}} <rlBusy [loading]="step.isLoading"></rlBusy></p>
				<p class="subtitle">{{step.subtitle}}</p>
			</div>
		</li>
	</ol>
</div>