<div class="rl-multi-step"
	[class.numbered]="numbered"
	[class.checked]="checked">
	<ol class="rl-multi-step-list">
		<li class="rl-multi-step-item" *ngFor="let step of steps" (click)="onClick(step)"
			[class.completed]="step.getCompleted()"
			[class.current]="step.isCurrent"
			[class.active]="step.isActive && !anyLoading()"
			[class.error]="!step.getValid()"
			[class.rl-multi-step-loading]="step.isLoading">
			<div class="rl-item-wrap">
				<p class="badge" *ngIf="step.count">{{step.count()}}</p>
				<p class="rl-item-title">{{step.title}} <rlBusy [loading]="step.isLoading"></rlBusy></p>
				<p class="rl-item-subtitle">{{step.subtitle}}</p>
			</div>
		</li>
	</ol>
</div>