<div class="rl-multi-step" ng-class="{ 'numbered': breadcrumb.numbered, 'checked': breadcrumb.checked }">
	<ol class="rl-multi-step-list">
		<li class="rl-multi-step-item" ng-repeat="step in breadcrumb.steps" ng-click="breadcrumb.onClick(step)"
			ng-class="{ 'completed': step.getCompleted(),
						'current': step.isCurrent,
						'active': !step.inactive && !breadcrumb.anyLoading(),
						'error': !step.getValid(),
						'rl-multi-step-loading': step.loading }">
			<div class="rl-item-wrap">
				<p class="badge" ng-show="step.hasCount">{{step.count()}}</p>
				<p class="rl-item-title">{{step.title}} <rl-busy loading="step.loading"></rl-busy></p>
				<p class="rl-item-subtitle">{{step.subtitle}}</p>
			</div>
		</li>
	</ol>
</div>