<div class="multi-step checked" ng-class="{ 'numbered': breadcrumb.numbered }">
	<ol>
		<li ng-repeat="step in breadcrumb.steps" ng-click="breadcrumb.onClick(step)"
			ng-class="{ 'completed': step.getCompleted(), 'current': step.isCurrent, 'active': !step.inactive && !breadcrumb.anyLoading() }">
			<div class="wrap">
				<p class="badge" ng-show="step.hasCount">{{step.count()}}</p>
				<p class="error" ng-hide="step.getValid()"><i class="fa fa-exclamation-triangle text-danger validation-icon"></i></p>
				<p class="title">{{step.title}} <rl-busy loading="step.loading"></rl-busy></p>
				<p class="subtitle">{{step.subtitle}}</p>
			</div>
		</li>
	</ol>
</div>