<div>
	<div class="selection-control-count">
		<span><strong>{{selection.selectedItems}}</strong> items selected</span>
	</div>
	<div class="selection-control-buttons" ng-if="selection.pagingEnabled">
		<button type="button" class="btn btn-default" ng-click="selection.selectPage()">Select page</button>
		<button type="button" class="btn btn-default" ng-click="selection.clearPage()">Clear page</button>
	</div>
	<div>
		<button type="button" class="btn btn-default" ng-click="selection.selectAll()">Select all</button>
		<button type="button" class="btn btn-default" ng-click="selection.clearAll()">Clear all</button>
	</div>
</div>
